* {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

body {
    background: #000;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #222;
    margin: 50px 50px;
    padding: 20px;
}

.form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
}

.form_input {
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid rgb(45, 158, 102);
    background: transparent;
    color: #fff;
}

.form_input:focus {
    background: linear-gradient(to bottom, transparent, #333);
    outline: none;
    border-bottom: 3px solid #5d9;
}

.form textarea {
    min-height: 140px;
    resize: none;
}

.form-img {
    flex: 1;
    display: flex;
    padding: 10px;
    min-width: 300px;
    max-width: 400px;
    order: 2;
}

.form-img div {
    padding: 10px;
}

.img-container {
    margin: auto;
}

.img-container div {
    background: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 40px;
}

.form-img img {
    width: 80%;
    margin: auto;
}

.form input[type="submit"] {
    background: rgb(45, 158, 102);
}

.form input[type="submit"]:hover {
    background: rgb(29, 103, 66);
}